@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Noto Sans, Helvetica, Arial, sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  font-style: italic;
}

.ss-inline-link {
  text-decoration: underline;
  text-decoration-color: #92374D;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
