@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Noto Sans, Helvetica, Arial, sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  font-style: italic;
}

select {
  color: #9ca3af;
  font-size: 12px;
  font-style: italic;
}
option:not(:first-of-type) {
  color: #181F25;
}